{% extends "layout.html" %}
{% block title %}Achievements{% endblock %}
{% block head %}
  {{ super() }}
    {% block scripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>            
        var achievements = {{achievements|tojson}};
        $(document).ready(function() { 
            if(achievements.length <= 0){
                $("#earnedAchievements").append('<p>No achievements</p>');
            } else{
                for(i = 0; i < achievements.length; i++){
                    $("#earnedAchievements").append('<div><img class="achievementIcon" id="achievementIcon" name="achievementIcon "src="' + achievements[i][5] + '" alt="itBroke" width="200px" height="200px"><p class="achievementDesc1">' + achievements[i][2] + '</p><p class="achievementDesc2">' + achievements[i][1] + '</p></div>');
                }
            }  
        });
    </script>
    {% endblock %}
{% endblock %}
{% block content %}  
    <h3 class="centeredHeader">All achievements</h3> 
    <div id="earnedAchievements" class="earnedAchievements"></div> 
{% endblock %}