{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
	{% block scripts %}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type=text/javascript>     
            var popular = {{popularQuizzes|tojson}};
            var newQ = {{newestQuizzes|tojson}};
            var top3players = {{top3players|tojson}};       
            $(document).ready(function() { 
                if(popular.length <= 0){
                    $("#popularQuizUL").append('<p>No quizzes yet</p>');
                } else{
                    for(i = 0; i < popular.length; i++){
                        $("#popularQuizUL").append('<li class="flex-toplist"><p>' + (i+1) +'.</p><p>' + popular[i][3] + '</p><p>' + popular[i][1] + '</p><p>' + popular[i][4] + '</p><p>' + popular[i][2] + '</p><p><a href=/play/' + popular[i][0] + '>Play</a></p></li>')
                    }
                }  
                
                if(newQ.length <= 0){
                    $("#newQUL").append('<p>No quizzes yet</p>');
                } else{
                    for(i = 0; i < newQ.length; i++){
                        $("#newQUL").append('<li class="flex-toplist"><p>' + (i+1) +'.</p><p>' + newQ[i][3] + '</p><p>' + newQ[i][1] + '</p><p>' + newQ[i][4] + '</p><p>' + newQ[i][2] + '</p><p><a href=/play/' + newQ[i][0] + '>Play</a></p></li>')
                    }
                }

                if(top3players.length <= 0){
                    $("#topPlayers").append('<p>No players yet</p>');
                } else{
                    for(i = 0; i < top3players.length; i++){
                        $("#topPlayers").append('<div id="topPlayerInfo" class="topPlayerInfo"><div class="info-container"><h1>' + (i+1) + '. <a href="/profile/' + top3players[i][0]+'">' + top3players[i][1] + '</a></h1><h1>Total score: ' + top3players[i][2] + '</h1></div><div class="info-container"><p>' + top3players[i][3] + ' Achievements</p> <p>Played quizzes: ' + top3players[i][4] + '</p><p>Challenge score: ' + top3players[i][5] + '</p></div></div>');
                    }
                }
            });
        </script>
  {% endblock %}
{% endblock %}

{% block content %}
  <h3 class="centeredHeader">Most popular quizzes</h3>               
  <div id="popularQuizzes" class="listHolderBox">
      <ul id="popularQuizUL">
          <li class="flex-toplist makeBold">
              <p>Rank</p>
              <p>Name</p>
              <p>Category</p>
              <p>Plays</p>
              <p>Made by</p>                            
              <p>Play quiz</p>              
          </li>
      </ul>
  </div>
  <h3 class="centeredHeader">New quizzes</h3>                
  <div id="newQuizzes" class="listHolderBox">
  <ul id="newQUL">
      <li class="flex-toplist makeBold">
          <p>Rank</p>
          <p>Name</p>
          <p>Category</p>
          <p>Plays</p>
          <p>Made by</p>
          <p>Play quiz</p>
      </li>
  </ul>
  </div>
  <h3 class="centeredHeader">The top three players</h3>
  <div id="topPlayers" name="topPlayers" class="listHolderBox">
  </div>
{% endblock %}