
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Quizia - Login{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
{% endblock %}
{% block content %}
  <div class="login">      
    <form class="form-signin" id="loginForm" method="POST" action="/login">
      <h2 class="loginHeader">Sign in</h2>
      {{ form.hidden_tag() }}
      {{ wtf.form_field(form.username) }}
      {{ wtf.form_field(form.password) }}
      {{ wtf.form_field(form.remember) }}
      <button class="greenButton floatLeft" type="submit">Sign in</button>
    </form>
    <a href="signup"><button class="greenButton floatRight">Register</button></a>
  </div>
  <footer class="footerBottom" id="footer">
    <img height="27" src="/static/logo/logoQuizia.png" alt="logo" style="padding:0; margin:0">
</footer> 
{% endblock %}