{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Quizia
{% endblock %}

<head>
	{% block scripts %}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type=text/javascript>            
            var myQuizzes = {{data|tojson}};
            var page = {{page}};
            var disableNext = {{disableNext}};
            console.log(page);
            var startNumber = page * 20 - 19;

            $('#nextPage').click(function(){
                window.location.href='/myQuizzes/' + (page+1);
             });

            $('#prevPage').click(function(){
                window.location.href='/myQuizzes/' + (page-1);
            });

            //q.quiz_id, c.category_name, u.username, q.quiz_name, q.plays
			$(document).ready(function() { 
                if(myQuizzes.length <= 0){
                    $("#myQuizzesUL").append('<p>No quizzes</p>');
                } else{
                    for(i = 0; i < myQuizzes.length; i++){
                        $("#myQuizzesUL").append('<li class="flex-toplist"><p>' + (startNumber++) +'.</p><p>' + myQuizzes[i][3] + '</p><p>' + myQuizzes[i][1] + '</p><p>' + myQuizzes[i][4] + '</p><p>' + myQuizzes[i][2] + '</p><p><a href=/play/' + myQuizzes[i][0] + '>Play</a></p></li>');
                    }
                } 
                
                if (page == 1){
                    $("#prevPage").prop('disabled', true);
                }
                if(disableNext == 1){
                    $("#nextPage").prop('disabled', true);
                }
            });
		</script>
	{{super()}}
{% endblock %}    
</head>

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

{% block content %}
    <main class="main" id="main">
        {% include "headerTemplate.html" ignore missing %}
        {% include "navbar.html" ignore missing %}
        <div class="content" id="content">
            <h3 class="homeTitle">My quizzes</h3>
            <div id="topPopularQuizzes">                
                <div id="popularQuiz" class="popularQuiz">
                    <ul id="myQuizzesUL">
                        <li class="flex-toplist makeBold">
                            <p>Rank</p>
                            <p>Name</p>
                            <p>Category</p>
                            <p>Plays</p>
                            <p>Play quiz</p>
                        </li>
                    </ul>
                    <button type="button" id="prevPage">Previous page</button>
                    <button type="button" id="nextPage">Next page</button>
                </div>                
            </div> 
            <!-- {% for quiz in myquizzes %}
                Quiz name: {{ quiz[3] }}
                Quiz category: {{ quiz[1] }}
                Quiz made by: {{ quiz[2] }}
                {{ quiz[4] }} Plays
                <a href="/play/{{ quiz[0] }}">Play this quiz</a>
                <br>
            {% endfor %} -->
        </div>
    </main>   
    <footer class="footer" id="footer">
        footer text
    </footer> 
{% endblock %}