{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Quizia
{% endblock %}

<head>
	{% block scripts %}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type=text/javascript>            
            var popular = {{data|tojson}};
            var page = {{page}};
            console.log(page);
            var startNumber = page * 20 - 19;
            $('#nextPage').click(function(){
                window.location.href='/popular/' + (page+1);
             });
            $('#prevPage').click(function(){
                window.location.href='/popular/' + (page-1);
            });
            //q.quiz_id, c.category_name, u.username, q.quiz_name, q.plays
			$(document).ready(function() { 
                if(popular.length <= 0){
                    $("#popularQuizUL").append('<p>No quizzes</p>');
                } else{
                    for(i = 0; i < popular.length; i++){
                        $("#popularQuizUL").append('<li class="flex-toplist"><p>' + (startNumber++) +'.</p><p>' + popular[i][3] + '</p><p>' + popular[i][1] + '</p><p>' + popular[i][4] + '</p><p>' + popular[i][2] + '</p><p><a href=/play/' + popular[i][0] + '>Play</a></p></li>');
                    }
                }  
            });
		</script>
	{{super()}}
{% endblock %}    
</head>

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

{% block content %}
    <main class="main" id="main">
        {% include "headerTemplate.html" ignore missing %}
        {% include "navbar.html" ignore missing %}
        <div class="content" id="content">
            <h3 class="homeTitle">Quizzes ranked by popularity</h3>
            <div id="topPopularQuizzes">                
                <div id="popularQuiz" class="popularQuiz">
                    <ul id="popularQuizUL">
                        <li class="flex-toplist makeBold">
                            <p>Rank</p>
                            <p>Name</p>
                            <p>Category</p>
                            <p>Plays</p>
                            <p>Made by</p>
                            <p>Play quiz</p>
                        </li>
                    </ul>                    
                    <button type="button" id="prevPage">Previous page</button>
                    <button type="button" id="nextPage">Next page</button>
                </div>                
            </div>             
        </div>
    </main>   
    <footer class="footer" id="footer">
        footer text
    </footer> 
{% endblock %}