{% extends "layout.html" %}
{% block title %}Profile{% endblock %}
{% block head %}
  {{ super() }}
    {% block scripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type=text/javascript>            
            var userdata = {{userdata|tojson}};
            var achievements = {{userachievements|tojson}};
            var remove = {{remove}};
            $(document).on('click', '#editProfile', function(){
                window.location.href='/editProfile';
            });
            $(document).ready(function() { 
                if(remove == 1){
                    $('#editProfile').remove();
                }
                $("#profPic").attr('src', userdata[0][2]);
                $("#username").text(userdata[0][0]);
                $("#introduction").text(userdata[0][3]);
                $("#playedQuizzes").text(userdata[0][1]);
                $("#challengeScore").text(userdata[0][6]);
                $("#totalScore").text(userdata[0][7]);
                $("#createdQuizzes").text(userdata[0][5]);
                $("#memberSince").text(userdata[0][4]);
                if(achievements.length <= 0){
                    $("#earnedAchievements").append('<p style="margin:auto">No achievements</p>');
                } else{
                    for(i = 0; i < achievements.length; i++){
                        $("#earnedAchievements").append('<div><img class="achievementIcon" id="achievement" name="achievement" src="' + achievements[i][2] + '" alt="itBroke" width="200" height="200"><p class="achievementDesc1">' + achievements[i][1] + '</p><p class="achievementDesc2">' + achievements[i][0] + '</p></div>');
                    }
                }  
            });
        </script>
    {% endblock %}
{% endblock %}
{% block content %}
    <h3 class="centeredHeader" id="username">testUser's profile</h3> 
    <div id="userprofile" class="userprofile">
        <img class="profPic" id="profPic" name="profPic "src="" alt="itBroke" width="200" height="200">
        <div id="userdata" class="userdata">                    
            <div>
                <h3>Introduction</h3>
                <p id="introduction"></p>
            </div>
            <div>
                <h3>Played quizzes</h3>
                <p id="playedQuizzes"></p>
            </div>
            <div>
                <h3>Challenge score</h3>
                <p id="challengeScore"></p>
            </div>
            <div>
                <h3>Total score</h3>
                <p id="totalScore"></p>
            </div>
            <div>
                <h3>Created quizzes</h3>
                <p id="createdQuizzes"></p>
            </div>
            <div>
                <h3>Member since</h3>
                <p id="memberSince"></p>
            </div>
        </div>
        <h3 class="centeredHeader">Earned achievements</h3> 
        <div id="earnedAchievements" class="earnedAchievements">
        </div>
        <div class="results">
            <button type="button" id="editProfile" class="greenButton">Edit profile</button>
        </div>
    </div>
{% endblock %}