{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Sign Up
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

{% block content %}
    {% include "headerTemplate.html" ignore missing %}
    <div class="login">
        <form class="form-signin" method="POST" action="/signup">
            <h2 class="loginHeader">Sign up</h2>
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.username) }}
            {{ wtf.form_field(form.email) }}
            {{ wtf.form_field(form.password) }}
            <button class="greenButton floatLeft" type="submit">Sign Up</button>
        </form>
        <a href="login"><button class="greenButton floatRight">Back to login</button></a>
    </div>    
    {% include "footerTemplate.html" ignore missing %}
{% endblock %}