<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    
</head>
<body>    
    <main class="main" id="main">
        <header class="header" id="header">
            <div class="headerLeft">
                <img src="" alt="logo">
            </div>
            <div class="headerRight">
                <img src="" alt="">
                {{ name }}          
            </div>
        </header>
        <aside class="sidebar">
            <nav class="nav">
                <hr class="divider">
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Random quiz</a></li>                
                <li><a href="#">Create a quiz</a></li>
                <li><a href="#">Popular</a></li>
                <li><a href="#">The daily challange</a></li>
                <li><a href="#">Achievements</a></li>                
              </ul>
              <hr class="divider">
              <ul>
                <li><a href="#">My quizzes</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Sign out</a></li>               
              </ul>
            </nav>
        </aside>
        <div class="content" id="content">          
            <h3 class="homeTitle">Most popular quizzes</h3>
            <div id="topPopularQuizzes">                
                <div id="popularQuiz" class="popularQuiz">
                    <ul>
                        <li class="flex-toplist makeBold">
                            <p>Rank</p>
                            <p>Name</p>
                            <p>Category</p>
                            <p>Plays</p>
                            <p>Made by</p>                            
                            <p>Play quiz</p>
                        </li>
                        <li class="flex-toplist">
                            <p>1.</p>
                            <p>Quiz name</p>
                            <p>Science</p>
                            <p>500</p>
                            <p>testUser</p>
                            <p><a href="">Play</a></p>
                        </li>
                    </ul>
                </div>
            </div>
            <h3 class="homeTitle">New quizzes</h3>
            <div id="topPopularQuizzes">                
                <div id="popularQuiz" class="popularQuiz">
                    <ul>
                        <li class="flex-toplist makeBold">
                            <p>Rank</p>
                            <p>Name</p>
                            <p>Category</p>
                            <p>Plays</p>
                            <p>Made by</p>
                            <p>Play quiz</p>
                        </li>
                        <li class="flex-toplist">
                            <p>1.</p>
                            <p>Quiz name</p>
                            <p>Science</p>
                            <p>500</p>
                            <p>testUser</p>
                            <p><a href="">Play</a></p>
                        </li>
                    </ul>
                </div>
            </div> 
            <h3 class="homeTitle">The top three players</h3>
            <div id="topPlayers" name="topPlayers" class="topPlayers">                
                <div id="first" class="first">
                    <div id="topPlayerInfo" class="topPlayerInfo">
                        <div class="info-container">                            
                            <h1>1. <a href="">Player name</a></h1>
                            <h1>Total score: 123123</h1>
                        </div>         
                        <div class="info-container">
                            <p>72 Achievements</p>
                            <p>Played 400 quizzes</p>
                            <p>Created 23 quizzes</p>
                        </div>
                    </div>
                </div>
                <div id="second" class="flex-container">
                    <div id="topPlayerInfo" class="topPlayerInfo">
                        <div class="info-container">
                            <h1>2. <a href="">Player name</a></h1>
                            <h1>Total score: 123123</h1>
                        </div>                        
                        <div class="info-container">
                            <p>72 Achievements</p>
                            <p>Played 400 quizzes</p>
                            <p>Created 23 quizzes</p>
                        </div>
                    </div>
                    <div id="topPlayerInfo" class="topPlayerInfo">
                        <div class="info-container">
                            <h1>3. <a href="">Player name</a></h1>
                            <h1>Total score: 123123</h1>
                        </div>                        
                        <div class="info-container">
                            <p>72 Achievements</p>
                            <p>Played 400 quizzes</p>
                            <p>Created 23 quizzes</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>   
    <footer class="footer" id="footer">
        footer text
    </footer> 
</body>
</html>