<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    
</head>
<body>    
    <main class="main" id="main">
        <header class="header" id="header">
            <div class="headerLeft">
                <img src="" alt="logo">
            </div>
            <div class="headerRight">
                <img src="" alt="">
                {{ name }}          
            </div>
        </header>
        <aside class="sidebar">
            <nav class="nav">
                <hr class="divider">
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Random quiz</a></li>                
                <li><a href="#">Create a quiz</a></li>
                <li><a href="#">Popular</a></li>
                <li><a href="#">The daily challange</a></li>
                <li><a href="#">Achievements</a></li>                
              </ul>
              <hr class="divider">
              <ul>
                <li><a href="#">My quizzes</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Sign out</a></li>               
              </ul>
            </nav>
        </aside>
        <div class="content" id="content">   
            <h3 class="homeTitle">testUser's profile</h3> 
            <div id="userprofile" class="userprofile">
                <img class="profPic" id="profPic" name="profPic "src="Bullethell42.PNG" alt="itBroke" width="200" height="200">
                <h2 class="username" id="username" name="username">Username</h2>
                <div id="userdata" class="userdata">                    
                    <div>
                        <h3>Introduction</h3>
                        <p id="introduction">this is a lot of text here this is a lot of text here this is a lot of text here this is a lot of text here</p>
                    </div>
                    <div>
                        <h3>Played quizzes</h3>
                        <p>123</p>
                    </div>
                    <div>
                        <h3>Challenge score</h3>
                        <p>123</p>
                    </div>
                    <div>
                        <h3>Total score</h3>
                        <p>123</p>
                    </div>
                    <div>
                        <h3>Created quizzes</h3>
                        <p>123</p>
                    </div>
                    <div>
                        <h3>Member since</h3>
                        <p>123</p>
                    </div>
                </div>
                <h3 class="homeTitle">Earned achievements</h3> 
                <div id="earnedAchievements" class="earnedAchievements">                    
                    <div>
                        <img class="profPic" id="profPic" name="profPic "src="Bullethell42.PNG" alt="itBroke" width="200" height="200">
                        <p>Description</p>
                    </div>
                    <div>
                        <img class="profPic" id="profPic" name="profPic "src="Bullethell42.PNG" alt="itBroke" width="200" height="200">
                        <p>Description</p>
                    </div>
                </div>
            </div>                  
        </div>
    </main>   
    <footer class="footer" id="footer">
        footer text
    </footer> 
</body>
</html>