<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    
</head>
<body>    
    <main class="main" id="main">
        <header class="header" id="header">
            <div class="headerLeft">
                <img src="" alt="logo">
            </div>
            <div class="headerRight">
                <img src="" alt="">
                {{ name }}          
            </div>
        </header>
        <aside class="sidebar">
            <nav class="nav">
                <hr class="divider">
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Random quiz</a></li>                
                <li><a href="#">Create a quiz</a></li>
                <li><a href="#">Popular</a></li>
                <li><a href="#">The daily challange</a></li>
                <li><a href="#">Achievements</a></li>                
              </ul>
              <hr class="divider">
              <ul>
                <li><a href="#">My quizzes</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Sign out</a></li>               
              </ul>
            </nav>
        </aside>
        <div class="content flexCenter" id="content">         
            <h3 class="homeTitle">Categories</h3>          
            <div id="categories" name="categories" class="categories">
                <a href="">Science</a>
                <a href="">Sports</a>
                <a href="">Music</a>
                <a href="">Geography</a>
                <a href="">Language</a>
                <a href="">Language</a>
                <a href="">Language</a>
                <a href="">Language</a>
                <a href="">Language</a>
                <a href="">Other</a>
            </div>
        </div>
    </main>   
    <footer class="footer" id="footer">
        footer text
    </footer> 
</body>
</html>